:root {
    /* Color styles */
    --bg-gray: #d9d9d9;
    --shadow-dropdownlist: 0 2px 2px 0 #dad8d8;
    --text-dropdown: #343434;
    --border-dropdown: #2e2e2e;
    --hover-item-drop: rgba(234, 234, 234, 0.2);
    --white: #fff;
    --black: #000;
  
    /* Font Styles */
    --font: 'Roboto', sans-serif;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Baskervville&display=swap');
 
.drop-section {
    max-width: 100%;
    position: absolute;
    left: 150px;
}

.dropdown {
    width: 240px;
    height: 32px;
    padding: 5px 12px 0px 12px;
    border-radius: 4px;
    border: 1px solid var(--border-dropdown);
    display: inline-block;
    background-color: var(--white);
    cursor: pointer;
    white-space: nowrap;
    z-index: 10;
}

.dropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.drop-disabled {
    display: none;
}

.drop-active {
    display: block;
}

.drop-text {
    font-family: var(--font);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--text-dropdown);
}

.drop-menu {
    position: absolute;
    top: 100%;
    width: 248px;
    height: 138px;
    padding: 0px 14px 12px 0px;
    margin: 0 0 0 1px;
    box-shadow: var(--shadow-dropdownlist);
    background-color: var(--white);
    list-style-type: none;
}

.drop-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 248px;
    height: 46px;
    padding: 4px 9px 0px 5px;
}
.drop-item:hover {
    background-color: var(--hover-item-drop);
}

.drop-framework {
    display: flex;
    justify-content: start;
    align-items: center;
}
.drop-framework img {
    width: 24px;
    margin-left: 0.5rem;
    margin-right: 0.7rem;
}
.drop-framework span {
    font-family: var(--font);
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--text-dropdown);
    cursor: pointer;
}

.news-section {
    padding: 5rem 0rem 5rem 4rem;
    margin: 0px auto;
}

.welcome {
    text-align: center;
    color: var(--text-dropdown);
    font-family: var(--font);
    font-size: 3rem;
    padding: 3rem;
}

@media (min-width: 320px) and (max-width: 480px) {
    .drop-section {
        left: 60px;
    }
    .welcome {
        display: block;
        margin: 0px auto;
        font-size: 1.3rem;
        padding: 0.5rem;
    }
}