:root {
    /* Color styles */
    --text-header: #3b3b3b;
    --bg-header: linear-gradient(to bottom, #ececec -32%, #fff 124%);
    --shadow-header: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    /* Font Styles */
    --font-header: 'Baskervville', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Baskervville&display=swap');

.header {
    max-width: 100%;
    height: 85px;
    box-shadow: var(--shadow-header);
    background-image: var(--bg-header);
    padding: 44px 0px 0px 150px;
}

.title-header {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: var(--font-header);
    font-size: 1.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--text-header);
}

/* Responsive Design */

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px){
    .header {
        width: 100%;
        height: 50px;
        padding: 34px 0px 0px 78px;
    }
    .title-header {
        font-size: 1.5rem;
    }
}
/* Ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px){
    .header {
        width: 100%;
        height: 70px;
        padding: 40px 0px 0px 78px;
    }
    .title-header {
        font-size: 1.65rem;
    }
}