:root {
    /* Color styles */
    --azure: #1797ff;
    --gray-dark: #606060;
    --border-button: #d6d6d6;

    /* Font Styles */
    --font: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Baskervville&display=swap');

.views {
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.btn-views {
    width: 98px;
    height: 31px;
    padding: 3px 0px 0 0px;
    border-radius: 2px;
    border: solid 1px var(--border-button);
    background-color: transparent;
    color: var(--gray-dark);
    cursor: pointer;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    transition: all .3s ease-in-out;
}

.btn-views:hover {
    border: 1px solid var(--azure);
    color: var(--azure);
}

.btn-views:focus {
    border: solid 1px var(--azure);
    color: var(--azure);
}

@media (min-width: 320px) and (max-width: 480px){
    .views {
        width: 100%;
        height: 50px;
    }
}