:root {
  --azure: #1797ff;
  --bg-blue: #1890ff;
  --bg-gray: #d9d9d9;
  --bg-body: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  --shadow-header: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  --shadow-dropdownlist: 0 2px 2px 0 #dad8d8;
  --text-header: #3b3b3b;
  --text-dropdown: #343434;
  --gray-dark: #606060;
  --gray-medium: #6b6b6b;
  --gray-light: #828282;
  --text-time: #767676;
  --text-page: rgba(0,0,0,0.65);
  --border-post: #979797;
  --border-button: #d6d6d6;
  --border-dropdown: #2e2e2e;
  --white: #fff;
  --black: #000;
  --font: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}